# IntelliJ IDEA
workspace.xml
tasks.xml
out/

# Visual Studio
# VS User-specific files
*.suo
*.user
*.sln.docstates

# VS Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# VS MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# VS NUnit
*.VisualState.xml
TestResult.xml

# VS Nuget
Dotnet/packages/*
!DotNet/packages/repositories.config

# Scala
.idea/
target/